<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel=stylesheet href="../static/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>
<body>
    <div>
        <div>
             <img src="https://images.ctfassets.net/usf1vwtuqyxm/7q8itiPpBa9rSqJgSxLDWf/e3f3c2c1e68ce00642f98d236afd0fbc/345808K1h_PatchBuild_WZD_LogoGoblet_On_Black-Lo-Rez.jpg" alt="wizarding world logo" class="wizarding"/>
        </div>
        <nav>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button> -->
            <div>
            <ul>
                <li>
                <a href="/home">Home</a>
                </li>
                <li>
                <a href="/profile">Profile</a>
                </li>
            </ul>
            </div>
        </nav>
    </div>
    <div>
        {% block content %}
        <h1>Home</h1>
        {% endblock %}
    </div>
    <script
    type="text/javascript"
    src={{ url_for('static', filename='index.js')}}
    >
    </script>
</body>
</html>